* {
    padding: 0;
    margin: 0;
    line-height: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Karla', sans-serif;
    font-family: 'Radio Canada', sans-serif;
}
Game {
    position: absolute;
    background-color: #101214;
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    padding: 5px;
    min-width: 350px;
    border-radius: 10px;
    align-items: center;
    margin-top: 275px;
    box-shadow: 0px 0px 5px 5px;
}
cell {
    display: none;
    background-color: #515354;
    position: relative;
    text-align: center;
    padding-top: 50px;
    height: 100px;
    width: 100px;
    font-size: 28pt;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 11px 2px black inset;
}
cellBackground {
    display: none;
    background-color: #515354;
    position: relative;
    text-align: center;
    margin: 3px;
    height: 100px;
    width: 100px;
    font-size: 28pt;
    border-radius: 10px;
    box-shadow: 0px 0px 11px 2px #515354, 0px 0px 11px 2px black inset;
}
Score {
    position: absolute;
    display: block;
    font-size: 35pt;
    margin-top: 230px;
    color: whitesmoke;
}
h1 {
    position: absolute;
    margin-top: 100px;
    font-size: 50pt;
    color: whitesmoke;
}
h2 {
    position: absolute;
    font-size: 20pt;
    margin-top: 120pt;
    color: whitesmoke;
}
Buttons {
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    row-gap: 50px;
    left: -150px;
}
Reset, Dimension {
    font-size: 20pt;
    border-radius: 10px;
    padding: 25px;
    background-color: #6d869c;
    box-shadow: 0px 0px 11px 2px black, 0px 0px 11px 2px black inset;
    z-index: 1;
    text-align: center;
}
Reset:hover, Dimension:hover {
    background-color: #515354;
    color: whitesmoke;
}
Background {
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}